
$font-mons : 'Montserrat', sans-serif;
$font-rubik : 'Rubik', sans-serif;


$primarybgColor:white;
$primaryfgColor : rgb(245, 83, 58);
$primarybtnColor: rgb(242, 58, 48);
$grey-bg :rgb(246, 246, 246);
$grey-text :rgb(103, 103, 103);
$grey-line :rgb(238, 238, 238)